# SQL Prep

## Recap

### Creating tables

``` CREATE TABLE customers (id INTEGER PRIMARY KEY, name TEXT, age INTEGER, weight REAL);
```

### Inserting data

```INSERT INTO customers VALUES (73, "Brian", 33);```

```INSERT INTO customers (name, age) VALUES ("Brian", 33);```

### Querying data

Select everything

```SELECT * FROM customers;```

Filter with condition

```SELECT * FROM customers 
   WHERE age > 21;```

Order results

```SELECT * FROM customers 
    WHERE age > 21 
    ORDER BY age DESC;```
    
Transform with case

```SELECT name, 
    CASE 
        WHEN age > 18 THEN "adult" 
        ELSE "minor" 
    END "type" 
    FROM customers;```

### Grouping data

Using Group by

```SELECT gender, COUNT(*) 
    FROM students 
    GROUP BY gender;```

Filtering with having

```SELECT gender, COUNT(*) 
    FROM students 
    GROUP BY gender
    HAVING COUNT(*) > 10;```

### Joining tables

Inner join

```SELECT customers.name, orders.item 
    FROM customers 
    JOIN orders 
    ON customers.id = orders.customer_id;```

## Practice Questions